@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.card {
  width: 27%;
  border: 1px solid $secondaryColor;
  border-radius: 5px;
  padding: 14px;
  margin: 14px; // display: flex;
  // justify-content: space-around;
  // align-items: center;
  @include flexbox(flex, space-around, center);
  // el & es una funcionalidad de sass que evita escribir el .card del cual se desprende el elemento BEM
  &__img {
    //& traduce=> .card__img
    width: 50%;
    border: 1px solid black;
  }
  img {
    width: 100%;

    &:hover {
      //& traduce=> img:hover
      transform: scale(1.1);
    }
  }
  &__title {
    max-width: 120px;
  }
}
